
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/css/Site.css" rel="stylesheet" />
    <link href="~/lib/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />
</head>
<body class="container">

    <img src="~/images/Holochainlogo.png"class="logo" alt="logo" />
    <input type="button" name="name" value="click" class="btn btn-light" />
    <h1 class="h1">Welcome to the book store!</h1>
</body>
<script src="~/lib/jquery/jquery.js"></script>
</html>

<script>
    $(document).ready(function () {
        alert("Page Loaded");
    });
</script>
